html , body{
    overflow-x: hidden;
    background-color: white;
}
.stop{
    overflow-y: hidden;
}
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.root{
    overflow-x: hidden;
}
.container{
    width: 100%;
    height: 800px;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
}
.logoimg img{
    width: 115px;
    position: absolute;
    top: 0;
    left:0;
    z-index: 12;
}
.nav{
    position: fixed;
    width: 100%;
    z-index: 10;
    display: flex;
    left: 0;
    justify-content: space-between;
    /* border: 2px solid red; */
    background-color: white;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.logot{
    /* border: 2px solid green; */
    position: relative;
    top: 10px;
    left: -160px;
    margin: auto 0;
    font-size: 5rem;
}
.navbtns{
    /* border: 2px solid green; */
    display: flex;
    position: relative;
    right: -263px;
    margin-top: 14px;
}
.navbtn{
    font-size: 20px;
    font-weight: 600;
    padding: 16px 0 5px;
    margin-right: 1rem;
    margin-left: 1rem;
    color: #4c4c4c!important;
    text-decoration: none;
}
.pg1img img{
    width: 646px;
    position: relative;
    right: -432px;
    top: 40px;
}
.aksha{
    font-size: 120px;
}
.text1{
    /* border: 2px solid gray; */
    color: #4c4c4c;
    font-weight: 800;
    font-size: 2em;
    display: block;
    font-family: Open Sans,sans-serif;
    font-size: 2.5rem;
    position: absolute;
    top: 135px;
    left: -160px;
    z-index: 1;
}
.adis{
    font-size: 2em;
    width: 895px;
}
.pg1{
    height: 400px;
    display: flex;
    align-items: center;
    position: relative;
    top: 180px;
    justify-content: space-evenly;
}

                /* Second Page */

.second{
    width: 100vw;
    margin-top: 50px;
    display: flex;
}
.video video{
    width: 60vw;
    /* border: 2px solid red; */
    height: 500px;
}
.sec1{
    margin-bottom: 20px;
    font-size: 24px;
}
.secinfo{
    width: 400px;
    height: 500px;
    /* border: 2px solid red; */
    font-family: Open Sans,sans-serif;
    font-weight: 400;
    color: #4c4c4c;
    font-size: 25px;
    margin-left: 60px;
}



            /* COROSOUL SECTION */
.show{
    width: 80vw;
    height: 670px;
    background-color: #00000061;
    border-radius: 2px solid red;
    position: absolute;
    z-index: 14;
    left: 126px
}
.hidee{
    position: absolute;
    font-size: 30px;
    right: 164px;
    top: 44px;
    width: 45px;
    height: 46px;
    border-radius: 50%;
        background-color: rgb(146, 0, 0);
        background-image: url(/imgs/cross.png);
        background-size: 45px;
        background-repeat: no-repeat;
        z-index: 2;  
  
}
.hidee:hover{
    background-color: rgb(226, 13, 13);
    cursor: pointer;
}
.corosoul{
    margin: 0 auto;
    width: 80vw;
    margin-top: 50px;
    /* background-color: aqua; */
    place-items: center;
}
.key{
    text-align: center;
    padding: 3rem;
    font-size: 3.5rem;
    margin-bottom: 3rem;
}
.keytitle{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}
.slick-slide{
    margin: 0px 10px;
}
.slick-slide img{
    width: 100%;
}
.slick-dots{
    display: flex;
    justify-content: center;
    margin: 10px;
}
.slick-prev{
    position: relative;
    top: 192px;
    z-index: 2;
    color: transparent;
    border: 0;
    border-radius: 50%;
    width: 43px;
    height: 43px;
    background-image: url(/imgs/backarrow.png);
    background-size: 43px;
}
.slick-next{
    position: relative;
    top: -172px;
    z-index: 2;
    left: 96vw;
    color: transparent;
    transform: rotateY(180deg);
    border: 0;
    border-radius: 50%;
    width: 43px;
    height: 43px;
    background-image: url(/imgs/backarrow.png);
    background-size: 43px;
}
#slick-slide-control00{
    border: 0;
    background-color: white;
    visibility: hidden;
}
#slick-slide-control01{
    border: 0;
    background-color: white;
    visibility: hidden;
}
#slick-slide-control02{
    border: 0;
    background-color: white;
    visibility: hidden;
}
#slick-slide-control03{
    border: 0;
    background-color: white;
    visibility: hidden;
}
#slick-slide-control04{
    border: 0;
    background-color: white;
    visibility: hidden;
}
#slick-slide-control05{
    border: 0;
    background-color: white;
    visibility: hidden;
}
.slide img{
    width: 100%;
    transition: transform 1s; 
    border: 2px solid;
}
.slide{
    perspective: 100px;
}
.slide:hover{
     cursor: pointer;
}
.slide img:hover{
    transform: translateZ(8px);
    z-index: 4;
}
.show{
    height: 740px;
    width: 100vw;
    left: -1px;
    background-color: #1a1a1a;
}
.clicked_slide{
    width: 80vw;
    height: 600px;
    position: relative;
    left: 12vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.clicked_slide .keytitle{
    width: 70vw;
    font-size: 40px;
    height: 50px;
}
.clicked_slide img{
    width: 70vw;
    background-color: #777;
}
/* .slide img{
    width: 500px;
    margin: 10px 20px;
}
.slides{
    display: flex;
} */
/* }
.slide img{
    width: 100%;
    transition: transform 1s; 
}
.slide img:hover{
    transform: translateZ(20px);
}
.slider:hover{
    animation-play-state: paused;
}
@keyframes scroll{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-250px *6));
    }
}
.slides{
    position: relative;
    place-items: center;
    margin: auto;
    width: 90%;
    display: grid;
    height: 250px;
    overflow: hidden ;
}
.slider{
    display: flex;
    width: calc(250px * 18);
    animation: scroll 40s linear infinite;
}
.slide{
    height: 250px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
}
.slides::before,
.slides::after{
    background: linear-gradient(to right, rgb(255, 255, 255,1) 0%,rgba(255, 255, 255, 0) 100%);
    content: '';
    height: 100%;
    position: absolute;
    width: 15%;
    z-index: 2;
}
.slides::before{
    left: 0;
    top: 0;
}
.slides::after{
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
} */





            /* ADDITIONAL FEATURES */
.down{
    position: relative;
    top: 28px;
    right: 0px;
}
.down3{
    position: relative;
    top: 15px;
}
.down4{
    position: relative;
    top: -7px;
}
.down4t{
    position: relative;
    top: -36px;
}
.additional{
    /* border:  2px solid red; */
    margin-top: 100px;
}
.appimg img{
    width: 115px;
    position: relative;
    left: 20px;
}
.title3{
        width: 270px;
        margin: 0 auto;
        font-size: 3.5rem;
}
.applications{
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin: 20px auto;
}
.app1{
    width: 80vw;
    margin: 20 auto;
    /* border: 2px solid rebeccapurple; */
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}
.appfeatures{
    width: 150px;
    /* border: 2px solid rebeccapurple; */
}
.apptitle{
    position: relative;
    left: 20px;
    font-family: Open Sans,sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
    color: #4c4c4c;
    text-align: center;
}

            /* SPEC_TESTIMONIOUS */
.ainfo{
    
    margin-right: 22vw;
    width: auto;
}
.spec_test{
    width: 100%;
    /* border: 2px solid red; */
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}
.specification{
    width: 300px;
    margin-left: 6vw;
    height: 450px;
    /* border: 2px solid green; */
}
/* .feedback{
    border: 2px solid green;
    width: 40vw;
    height: 500px;
} */
.spectitle{
    position: relative;
    left: 10px;
    margin: 0 auto;
    font-size: 20px;
    color: #4c4c4c;
    font-weight: 800;
    font-size: 2.5rem;
}
.spcefic{
    /* border: 2px solid green; */
    position: relative;
    top: 55px;
    font-weight: 600;
    font-size: 1.75rem;
    color: #777;
}

.application{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.aimg img{
    width: 310px;
}
.aimg video{
    width: 650px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.info1{
    font-size: 3rem;
    width: 600px;
}
.info2{
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.info2 div{
    margin: 5px 0;
    font-size: 18px;
}

.user-image img{
    width: 32vw;
    height: 100%;
}
.title{
    font-family: 'Open Sans',sans-serif;
}
.keyfeature{
    line-height: 1.2;
    font-size: 36px;
    font-family: Montserrat, sans-serif !important;
}

.seclast{
    width: 100%;
    /* border: 4px solid red; */
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}
.specification{
    width: 420px;
    height: 450px;
    /* border: 2px solid green; */
}
.testimonies{
    width: 600px;
    height: 450px;
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
}
.nameimg{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 35px;
}
.nameimg p{
    text-align: center;
    font-family: "Heebo", sans-serif;
}
.nameimg img{
    width: 200px;
}
.test{
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
    margin-top: 60px;
}
.test1 .experience{
    position:relative;
    left: 64px;
}
.experience{
    width: 300px;
    font-family: 'Open Sans',sans-serif;
    font-weight: 400;
    line-height: 1.6;
}
.customer{
    display: flex;
    font-family: "Heebo", sans-serif;
    font-size: calc(1.325rem + 0.9vw);
    color: #4c4c4c;
    font-weight: 800;
    font-size: 2.5rem;
}
.last{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}
.lastb{
    margin-bottom: 30px;
}
.about{
    width: 600px;
    height: 500px;
    display: flex;
    flex-direction: column;
}
.contact{
    width: 600px;
    height: 500px;
    /* border: 2px solid brown; */
}
.abouttitle{
    display: flex;
    justify-content: center;
    font-size: calc(1.325rem + 0.9vw);
    color: #373f50;
    margin-top: 30px;
}
.aboutinfo{
    color: #565973;
    font-size: 1.1rem;
    padding: 10px 40px;
}
.a1{
    margin-top: 20px;
}
.contactform form{
    margin-top: 30px;
      display: flex;
      flex-direction: column;
}
.contacttitle{
    display: flex;
    justify-content: center;
    font-size: calc(1.325rem + 0.9vw);
    color: #373f50;
    font-family: var(--bs-body-font-family);
}
.contactform form input{
    width: 500px;
    height: 50px;
    margin: 10px auto;
}
.contactform form textarea{
    width: 500px;
    height: 100px;
    margin: 10px auto;
}
.btn{
    width: 60px;
    height: 20px;
    margin: auto;
}
.user-photo{
    width: 115px;
    height: 115px;
}
.center{
    display: flex;
    flex-direction: column;
    width: 80vw;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}
.slide-content{
    display: flex;
    justify-content: center;
}
.username{
    display: flex;
    justify-content: center;
    color: #1a1a1a !important;
    font-size: 20px;
}

                /* ABOUT US */

.about{
    height: auto;
    /* border: 2px solid rebeccapurple; */
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 0 auto;
    margin-top: 50px;
    width: 92vw;
}
.aboutimg{
    /* border: 2px solid red; */
    width: 500px;
    height: 330px;
    
    margin-left: 12vw;
}
.aboutinfo{
    /* border: 2px solid saddlebrown; */
    padding: 0;
    margin-top: 50px;
    font-size: 1.3em;
}
.ainfo1{
    margin-bottom: 20px;
    padding: 0;
}
.aboutt{
    width: 36vw;
    margin-right: 14vw;
}
.abouttitle{
    font-family: Open Sans,sans-serif;
    font-weight: 400;
    color: #4c4c4c;
    justify-content: start;
}
.aboutimg img{
    position: relative;
    top: 40px;
    left: 33px;
    width: 370px;
}
.address{
    margin-top: 20px;
    width: 200px;
    font-size: 1.3em;
    color: #ffffff;
    position: relative;
    right: -900px;
    top: -280px;
    visibility: visible;
}
.addinfo{
    width: 400px;
}
.addtitle{
    font-weight: 500;
}


        /* CONTACT US */


        .contact{
            width: 600px;
            height: 530px;
            /* border: 2px solid brown; */
            background-image: linear-gradient(105deg,hsla(0,0%,100%,.8),hsla(0,0%,100%,.8) 50%,transparent 0),url(/imgs/map.jpg);
            background-size: 100%;
            background-repeat: no-repeat;
            border-radius: 3px;
            width: 100%;
            width: 90%;
            margin: 0 auto;
             margin-top: 50px;
        }
        .ainfo{
            width: 530px;
            /* border: 4px solid red; */
        }
        .contactform form{
            margin-top: 30px;
              display: flex;
              flex-direction: column;
        }
        .contacttitle{
            display: flex;
            justify-content: start;
            position: relative;
            left: 10px;
            font-size: calc(1.325rem + 0.9vw);
            color: #373f50;
            font-family: var(--bs-body-font-family);
        }
        .contactform form input{
            width: 500px;
            height: 50px;
            margin: 10px auto;
        }
        .contactform form textarea{
            width: 500px;
            height: 100px;
            margin: 10px auto;
            box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
        }
        
        .btn {
            align-items: center;
            appearance: none;
            background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
            border: 0;
            border-radius: 6px;
            box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
            box-sizing: border-box;
            color: black;
            cursor: pointer;
            display: inline-flex;
            /* font-family: "JetBrains Mono",monospace; */
            font-size: 24px;
            background-color: #5468ff;
            height: 48px;
            justify-content: center;
            line-height: 1;
            list-style: none;
            overflow: hidden;
            padding-left: 16px;
            padding-right: 16px;
            position: relative;
            text-align: left;
            text-decoration: none;
            transition: box-shadow .15s,transform .15s;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
            white-space: nowrap;
            will-change: box-shadow,transform;
            font-size: 18px;
            width: 100px;
            left: -215px;
          }
          
          .btn:focus {
            box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
          }
          
          .btn:hover {
            box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
            transform: translateY(-2px);
          }
          
          .btn:active {
            box-shadow: #3c4fe0 0 3px 7px inset;
            transform: translateY(2px);
          }




          .test1 .experience {
            left: -308px;
        }
        .nameimg img {
            width: 96px;
        }
        .nameimg{
            left: -170px;
        }
        .test2 .nameimg{
            top: -2px;
        }
        .info2 div {
            margin: 5px 0;
            font-size: 18px;
            width: 1184px;
        }


        .about{
            margin-top: -93px;
        }
        .aboutimg img {
            top: 103px;
            left: -113px;
            width: 240px;
        }
        .aboutt {
            margin-right: 35vw;
        }
        .aboutinfo {
            width: 897px;
        }    
        .aboutinfo {
            font-size: 1.3em;
        }
        


                /* FOOTER
                FOOTER */

    .fotter{
        width: 100vw;
        height: 50px;
        background-color: #000000;
        color: white;
        margin-top: 126px;
        font-size: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .slick-dots li{
        list-style: none;
        font-size: 20px;
    }
    
    .slick-dots li:before {
        content:"·";
        font-size:120px;
        vertical-align:middle;
        line-height:20px;
    }

    input::placeholder { 
        color: red;
        opacity: 1; 
      }

      .appimg img{
        filter: grayscale();
      }


      