@media (max-width:1500px) and (min-width:1100px){
    .aboutt{
        margin-right: 7vw;
    }
    .corosoul{
        width: 92vw;
    }
    .lgot{
        left: 10px;
    }
    .ainfo{
        margin-right: 24vw;
    }
    .adis{
        margin-left: 100px;
    }
    .aksha{
        margin-left: 100px;
    }
    .navbtns{
        right:-260px;
    }
    .second{
        margin-left: 7px;
    }
    .pg1img img{
        right: -395px;
    }
    .pg1img img {
        right: -369px;
        width: 698px;
    }
    .title3{
        position: relative;
        left: 15px;
    }
    .key{
        margin-left: -8px;
        
    }
    .img1 .apptitle {
        position: relative;
        left: -6px;
    }
    .img2 .apptitle {
        position: relative;
        left: -11px;
        top: 36px;
    }
    .img3 .apptitle {
        position: relative;
        left: 2px;
        top: 19px;
    }
    .img4 .apptitle {
        position: relative;
        left: 16px;
        top: -54px;    
    }
    .img5 .apptitle {
        position: relative;
        left: 0px;
    }
    .img6 .apptitle {
        position: relative;
        left: -2px;
    }
    .img7 .apptitle {
        position: relative;
        left: -11px;
    }
    .img8 .apptitle {
        position: relative;
        left: 19px;
        top: 2px;
    }
    .img2 img{
        position: relative;
        left: -5px;
    }
    .img4 img{
        position: relative;
        top: -11px;
    }
    .img8 img{
        position: relative;
        left: 37px;
    }
    .test1 .nameimg p{
        position: relative;
        top: 10px;
        left: -2px;
    }
    .logoimg img {
        left: 0;
    }
    .contact{
        margin-left: 83px;
    }
    .slick-next{
        left: 92vw;
    }
        .btn {
            left: -200px;
        }
    .address{
        position: relative;
        right: -843px;
        top: -303px;
    }
    .sec1 {
        margin-bottom: 20px;
        font-size: 24px;
    }
    .secinfo{
        font-size: 24px;
    }
    .aboutimg img {
        top: 103px;
        left: -113px;
        width: 240px;
    }
    .aboutt {
        margin-right: 35vw;
    }
    .aboutinfo {
        width: 897px;
    }    
    .aboutinfo {
        font-size: 1.3em;
    }
    .info2 div {
        margin: 5px 0;
        font-size: 18px;
        width: 1184px;
    }
    .test1 .experience {
        left: -308px;
    }
    .nameimg img {
        width: 96px;
    }
    .nameimg{
        left: -170px;
    }
    .test2 .nameimg{
        top: -2px;
    }
    .ainfo {
        margin-right: 20vw;
    }
  }
  @media (max-width:1400px) and (min-width:1100px) {
        .navbtns{
            right: -78px;
        }
        .pg1img img{
            right: -368px;
        }
        .aksha{
            margin-left: 183px;
        }
        .adis{
            margin-left: 183px;
        }
        .logot{
            left: -8vw;
        }
  }
  @media (max-width:1400px) and (min-width:1300px){
    .slick-next{
      top: -148px;
    }
    .second{
        margin-left: 22px;
    }
    .pg1img img{
        right: -223px;
    }
  }

  @media (max-width:1300px) and (min-width:1200px){
        .navbtns{
            right: -57px;
        }
        .slick-next{
                top: -126px;
                left: 95vw;
        }
        .pg1img img{
            right: -200px;
        }
  }
  @media (max-width:1400px) and (min-width:1350px){
    .pg1img img {
        right: -330px;
    }
    .navbtns {
        right: -17vw;
    }
    .info2 div{
        width: 1089px;
    }
  }
  @media (max-width:1350px) and (min-width:1200px){
    .pg1img img {
        right: -24vw;
    }
    .navbtns {
        right: -16vw;
    }
    .info2 div{
        width: 1089px;
    }
  }

  @media (max-width:1350px) and (min-width:1270px){
    .aboutinfo {
        width: 788px;
    }

  }

  @media (max-width:1200px) and (min-width:1100px){
  .slick-next{
    top: -131px;
    left: 95vw;
  }
  .slick-prev{
    top: 156px;
    left: -40px;
  }
  .slick-slider {
    margin-left: 55px;
  }
  .ainfo {
    margin-right: 0vw;
}
.navbtns {
    right: -15vw;
}
.ainfo {
    margin-right: 5vw;
}
.info2 div {
    margin: 5px 0;
    font-size: 15px;
    width: 810px;
}
.test1 .experience {
    left: -225px;
}
.nameimg {
    left: -120px;
}
.aboutinfo {
    width: 650px;
}

.pg1img img{
    right: -220px;
}
/* .specdification{
    margin-left: 7vw;
} */
/* .seclastb{
    margin-left: -180px;
} */
}
@media (max-width: 1200px) and (min-width: 1150px){
.pg1img img {
    right: -21vw;
}
.navbtns {
    right: -16vw;
}
}

@media (max-width:1280px) and (min-width:1100px){
    .logot {
        left: -4vw;
    }
}


  @media (max-width:1100px) {
  .navbtns{
    right: -126px;
  }
  .pg1img img{
    right: -300px;
}
.logot {
    left: 0vw;
}
.logoimg img{
    left: 1vw;
}
.aksha{
    position: relative;
    left: 135px;
    margin-left: 50px;
}
.adis{
    position: relative;
    left: 120px;
    margin-left: 50px;
}
.second{
    margin-left: 26px;
}
.video{
    position: relative;
    top: -70px;
   }
.video video {
    position: relative;
    /* top: -70px; */
}
    .play {
        top: 226px;
    }

.slides{
    margin-left: 50px;
}
.slick-next{
    top: -127px;
    left: 98%;
}
.slick-prev{
    top: 147px;
    left: -43px;
}
.key{
    margin-left: -21px;
}
.additional{
    margin-left: -13px;
}
.spec_test{
    margin-left: 35px;
}
.aboutimg{
    margin-left: 90px;
}
.ainfo{
    margin-left: 50px;
}
.contact{
    position: relative;
left: 41px;
}
.addinfo{
    position: relative;
    left: -287px;
    top: -90px;
}
.addtitle{
    position: relative;
    left: -287px;
    top: -90px;
}
.corosoul{
    position: relative;
left: -28px;
}
.aboutimg img{
    width: 240px;
    top: 95px;
    left: 33px;
}
.pg1img img {
    right: -21vw;
}
}

@media (max-width:1270px) and (min-width:1200px){
.info2 div {
    width: 889px;
}
.ainfo {
    margin-right: 10vw;
}
.test1 .experience {
    left: -258px;
}
.nameimg {
    left: -146px;
    top: 61px;
}
.test2 .nameimg {
    top: 16px;
    left: -122px;
}
.about {
    margin-top: -31px;
}
.aboutinfo {
    width: 697px;
}
}


@media (max-width:1440px) and (min-width:1400px){
    .address {
        right: -840px;
    }    

}
@media (max-width:1400px) and (min-width:1370px){
    .address {
        right: -804px;
    }
}

@media (max-width:1360px) and (min-width:1100px){
    .contact{
        height: 462px;
        width: 100%;
        position: relative;
        left: -5vw;
    }
    
}
@media (max-width:1250px) and (min-width:1000px){
    .contact{
        height: 462px;
        width: 100%;
        position: relative;
        background-image: none;
        left: 2vw;
        top: 6vw;
    }
    .address{
        visibility: visible;
        color: black;
        top: -39vw;
        font-size: 28px;
        left: 51vw;
    }
    
}
@media (max-width:1100px) and (min-width:1070px){
.corosoul {
left: -13px;
}
.navbtns {

    right: -116px;

}
.key{
    margin-left: -21px;
}
.seclastb{
position: relative;
/* left: 78px; */
}
.specification{
margin-left: 3vw;
}
.aboutt{
margin-right: 0vw;
}
.contact{
left: 60px;
}
.info2 div{
    left: -40px;
}
.experience{
    position: relative;
    left: -40px;
}
.corosoul{
    left: -11px;
}
.contact {
    left: 4px;
}
.second{
    margin-bottom: 18px;
}
.sec1 {
    font-size: 19px;
}
.secinfo {
    font-size: 19px;
    width: 300px;
}
.info2 div{
    font-size: 16px;
}
.test1 .experience {
    left: -7px;
}
.customer{
    position: relative;
    left: -37px;

}
.contact {
    left: 4px;
}
.address{
    visibility: visible;
        color: black;
        top: -39vw;
        font-size: 28px;
        left: 88vw;
}
.addinfo{
    width: 306px;
}
.btn{
    left: -200px;
}
.slides{
    margin-left: -5px;
}
.aboutimg img{
    width: 173px;
    top: 112px;
    left: 33px;
}
.aboutinfo{
    width: 660px;
    font-size: 1.5rem;
}
    .aboutt {
        margin-right: 24vw;
    }
}
@media (max-width:1070px) and (min-width:1000px){
    .secinfo {
        font-size: 19px;
        width: 300px;
    }
    .sec1 {
        font-size: 19px;
    }
    .second{
        margin-left: 18px;
    }
    .info2 div{
        left: -40px;
    }
    .experience{
        position: relative;
        left: -40px;
    }
.corosoul {
left: 19px;
}
.slick-next{
left: 100%;
}
.navbtns {

    right: -116px;

}
.key{
    margin-left: -21px;
}
.contact{
    background-position-x: -178px;
    background-size: 132%;
}
.seclastb{
position: relative;
/* left: 78px; */
}
.specification{
margin-left: 3vw;
}
.aboutt{
margin-right: 18vw;
}
.contact{
left: 60px;
}
.corosoul{
    left: -11px;
}

.slides{
    margin-left: -5px;
}
.spec_test{
    margin-left: 9px;
}
.about{
    margin-left: -36px;

}
.contact {
    left: 4px;
}
.address{
    visibility: visible;
        color: black;
        top: -39vw;
        font-size: 28px;
        left: 88vw;
}
.addinfo{
    width: 306px;
    font-size: 1.1rem;
}
.btn{
    left: -200px;
}
.test1 .nameimg p{
    position: relative;
    left: -11px;
}
.info2 div{
    font-size: 16px;
}
.test1 .experience {
    left: -7px;
}
.customer{
    position: relative;
    left: -37px;

}
.contact {
    left: 4px;
}
.address{
    top: -227px;
}
.addinfo{
    width: 306px;
    font-size: 25px;
}
.btn{
    left: -200px;
}
.slide img{
    width: 100%;
}
.aboutinfo{
    width: 660px;
    font-size: 1.3rem;
}
.aboutimg img{
    width: 173px;
    top: 112px;
    left: 33px;
}
.address{
    visibility: visible;
        color: black;
        top: -39vw;
        font-size: 28px;
        left: 88vw;
}
.aboutinfo {
    font-size: 1.6rem;
}
}
.spcefic li{
width: 377px;
}

@media (max-width:1100px) and (min-width:1000px){
.info2 div {
    margin: 5px 0;
    font-size: 18px;
    width: 684px;
}
.test1 .experience {
    left: -206px;
    font-size: 15px;
    width: 520px;
}



.info2 div {
    left: -113px;
}
.test2 .experience {
    position: relative;
    left: -40px;
    font-size: 15px;
}
.about {
    margin-top: -54px;
}
.contact{
    top: 0;
}


}
@media (max-width:900px) and (min-width:100px){
.navbtns {
right: -86px;
}
.pg1img img {
right: -446px;

}
.video video {
width: 700px;
}
.video{
    width: 700px;
    }
.sec1{
font-size: 26px;
width: 350px;

}
.corosoul{
width: 150vw;
}
.key{
margin-left: 84px;
}
.slick-prev {
top: 173px;
left: -17px;
}
.app1{
width: 126vw;
}
.appimg img{
width: 300px;
}
.img2{
position: relative;
left: 240px;
}
.img3{

position: relative;
top: 385px;
left: -448px;

}
.img4{

position: relative;
top: 322px;
left: -212px;

}
.img5{
position: relative;
top: 265px;
left: 43px;
}
.img6{
position: relative;
top: 265px;
left: 240px;
}
.img7{
position: relative;
top: 676px;
left: -397px;
}
.img8{
position: relative;
top: 676px;
 left: -182px;
}
.spec_test{
margin-top: 900px;
margin-left: 9px;

}
.apptitle{
left: 100px;
}
.ainfo1{
width: 540px;
}
.ainfo2{
width: 540px;
}
.aboutimg img {
top: 80px;
left: -30px;
}
.contact{
width: 927px;
left: 100px;
}
.about{
    margin-left: -36px;

}
.slide img{
    width: 68%;
}
.corosoul{
    left: -175px;
}
.slide img{
    position: relative;
    left: 134px;
}

}

@media (max-width:900px) and (min-width:300px){
    .pg1{
        top: -35px;
    }
.pg1img img {
right: -553px;
}
.navbtns{
visibility: hidden;
}
.slick-slider{
width: 1032px;
}
.second {
width: 100vw;
margin-top: 280px;
}
    .pg1img img {
        width: 80vw;
        right: -10px;
        top: 279px;
    }
.second{
margin-top: 500px;
}
.text1{
top: 372px;
left: 3px;
}
.aksha {
    left: 67px;
    font-size: 130px;
}
.adis {
text-align: center;
font-size: 1.5em;
width: 802px;
left: -85px;
}    
.second {
display: flex;
flex-direction: column;
justify-content: center;
margin-top: 35px;
}
.corosoul {
width: 100vw;
margin-top: -272px;
}
.video video {
width: 94vw;
}
.video{
    width: 94vw;
    }

.sec1 {
    font-size: 30px;
width: 747px;
}
.secinfo {
    width: 747px;
    font-size: 30px;
    text-align: center;
    position: relative;
    left: -80px;
    
    }
.key {
    margin-left: 321px;
font-size: 4.5rem;
}
.additional {
margin-left: 214px;
margin-top: 73px;
}
.title3{
    width: 747px;
position: relative;
left: 64px;
}
.spec_test{
margin-top: 2437px;
flex-direction: column;
}
.appimg img {
width: 352px;
}
.img1 .apptitle{
    position: relative;
    left: 78px;
}
.img2 .apptitle{
    position: relative;
    left: 25px;
}
.img3 .apptitle{
    position: relative;
    left: -3px;
}
.img4 .apptitle{
    position: relative;
    left: -109px;
    top: -98px;
}
.img5 .apptitle{
    position: relative;
    left: 18px;

}
.img6 .apptitle{
    position: relative;
    left: -65px;
    top: -16px;
}
.img7 .apptitle{
    position: relative;
        left: 18px;
}
.img8 .apptitle{
    position: relative;
    left: -23px;
}
.apptitle{
font-size: 3.5rem;
width: 900px;
}
.img1{
width: 150px;
position: relative;
left: -12vw;
top: 60px;
}
.img2 {
    top: 461px;
    left: -362px;
}
.img3{
top: 800px;
left: -69vw;
}
.img4{
top: 800px;
top: 1171px;
left: -101vw;
}
.img5{
top: 1110px;
left: -12vw;
}
.img6{
top: 1500px;
left: -304px;
}
.img7{
top: 1890px;
left: -74vw;
}
.img8{
top: 2351px;
left: -97vw;
}
.specification{
margin-left:0vw;
}
.spectitle{
font-size: 5.5rem;
width: 1000px;
}
.spcefic{
font-size: 3rem;
}
.spcefic li{
font-size: 2.3rem;
width: 1000px;
}
.customer{
width: 1000px;
font-size: 5.5rem;
}
.info2 div{
width: 1000px;
font-size: 26px;
position: relative;
left: -110px;
}
.test1 img{
position: relative;
left: -87px;
}
.test2{
position: relative !important;
left: -45px !important;
}
.contact{
margin-top: 1050px;
background-color: black;
visibility: hidden;
}
.abouttitle{
font-size: 4rem;
font-weight: 700;
width: 1000px;
position: relative;
left: -20vw;
}
.aboutimg img {
    top: 314px;
    left: 21vw;
}
.ainfo1{
left: -410px;
font-size: 31px;
width: 1000px;
position: relative;
left: -417px;
}
.ainfo2 {
position: relative;
top: 400px;
left: -420px;
font-size: 24px;
    width: 753px;
    text-align: center;
}
.addinfo {
position: relative;
left: -157vw;
top: -881px;
color: black;
width: 500px;
font-size: 31px;
}
.ainfo {
    margin-left: 66vw;
position: relative;
top: -543px;
left: -72vw;
visibility: visible;
}
.contacttitle{
font-size: 4rem;
font-weight: 700;
}
.contactform form input {
    width: 653px;
    height: 65px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.contactform form textarea {
    width: 653px;
    height: 165px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.feedbackinfo{
margin-left: -66vw;
position: relative;
top: -108px;
left: 43vw;
visibility: visible;
}
.customer{
left: -24vw;
font-size: 4.5rem;
}    
.info2 div{
    width: 800px;
    font-size: 15px;
    left: -75px;
    margin: 20px 0;
}
.test1 img{
    position: relative;
    left: 10px;
    top: -25px;
}
.test2 img{
    position: relative;
    left: -30px;
    top: -40px;
}
.test1 p{
    position: relative;
    left: 22px;
    top: -11px;
    font-size: 17px;
}
.test2 p{
    position: relative;
    left: -17px;
    top: -35px;
    font-size: 17px;
}
.about{
    margin-top: -153px;
}
.ainfo1{
    font-size: 24px;
    width: 753px;
    text-align: center;

}
.nav{
    background-color: transparent;
}
.logoimg img {
    left: 84vw;
}
.hidee{
    background-size: 50px;
    right: 34px;
    width: 50px;
    height: 44px;

}
.show {
    height: 740px;
    width: 104vw;
    left: 175px;
}
.clicked_slide img {
    width: 90vw;
    position: relative;
    top: 50px;
}
.appimg img {
    width: 250px;
    left: 98px;
}

.img1 .apptitle {
    left: -243px;
}
.img2 .apptitle {
    left: -186px;
}
.img3 .apptitle {
    left: -238px;
}
.img4 .apptitle {
    left: -212px;
}
.img5 .apptitle {
    left: -222px;
}
.img6 .apptitle {
    left: -238px;
}
.img7 .apptitle {
    left: -201px;
}
.img8 .apptitle {
    left: -222px;
}
.test1 .experience {
    left: -85px;
}



        /* SECOND SECTION */

        .secinfo {
            left: -2vw;
        }
        .corosoul{
            margin-top: -90px;
        }
        .slides {
            margin-left: 10vw;
        }
        .img2 {
            top: 377px;
            left: -382px;
        }
        .down3 {
            position: relative;
            top: -157px;
            left: 28px;
        }
        .img4 {
            top: 990px;
            left: -100vw;
        }
        .img5 {
            top: 915px;
            left: -12vw;
        }
        .img6 {
            top: 1233px;
            left: -338px;
        }
        .img7 {
            top: 1530px;
            left: -70vw;
        }
        .img8 {
            top: 1915px;
            left: -99vw;
        }
        .spec_test {
            margin-top: 1968px;
        }
        .spectitle {
            left: 5vw;
        }
        .test2 .experience{
            top: -50px;
            left: -4vw;
        }
        .aboutimg {
            margin-left: 35vw;
        }
        .ainfo1 {
            left: -50vw;
        }
        .aboutimg img {
            left: 5vw;
        }
        .ainfo2 {
            position: relative;
            top: 246px;
            left: -50vw;
        }
        .contact {
            background-image: none;
            left: 17vw;
            margin-top: 839px;
        }
        .addtitle {
            left: 35vw;
            top: -208px;
        }
        .address {
            color: black;
            left: -50vw;
            visibility: visible;
            top: -354px;
        }
        html:not(.no-js) [data-aos^=slide][data-aos^=slide] {
            transition-property: -webkit-transform;
            transition-property: transform;
            transition-property: transform,-webkit-transform;
            visibility: visible;
        }
}
@media (max-width:860px) and (min-width:100px){
    .ainfo1 {
        left: -55vw;
    }
    .ainfo2 {
        left: -55vw;
    }
}

@media (max-width:800px) and (min-width:300px){
.second {
    margin-top: -36px;
}
.secinfo{
    left: 4vw;
    font-size: 21px;
    width: 547px;
}
.sec1 {
    font-size: 21px;
    width: 547px;
}
.corosoul {
    margin-top: -200px;
    left: -24vw;
}
.img2 {
    left: -369px;
}
.down3 {
    left: -6px;
}
.img7 {
    left: -77vw;
}
.img8 {
    left: -103vw;
}
.about {
    margin-left: -6vw;
}
.ainfo1 {
    font-size: 21px;
    width: 653px;
}   
.aboutimg img {
    left: 9vw;
    top: 293px;
}
.ainfo2 {
    font-size: 21px;
    width: 653px;
    top: 246px;
    left: -53vw;
}
.contact {
    background-image: none;
    left: 11vw;
}
.address {
    color: black;
    left: -70vw;
    top: -40vw;
}
}

@media (max-width:750px) and (min-width:300px){
    .secinfo {
        left: 1vw;
    }
    .corosoul {
        left: -28vw;
    }
    .about {
        margin-left: -9vw;
    }
    .ainfo1 {
        font-size: 21px;
        width: 653px;
    }    
    .address {
        color: black;
        left: -70vw;
        top: -40vw;
    }
}


@media (max-width:700px) and (min-width:100px){
.pg1img img {
    width: 80vw;
    right: -10px;
    top: 162px;
}
.text1 {
    top: 223px;
    left: -54px;
}
.aksha{
    font-size: 130px;
}
    .play {
        top: 153px;
        width: 50px;
        height: 50px;
    }
    .play img{
        width: 50px;
        height: 50px;
       }
}


@media (max-width:500px) and (min-width:100px){
.logot {
    left: 2px;
}
/* .html{
    width: 110vw;
} */
.aksha {
    left: -44px;
    font-size: 100px;
}
.adis{
    font-size: 1em;
    width: 525px;
    left: -114px;
}

.pg1img img {
    width: 122vw;
    right: -53px;
    top: 246px;
}
.pg1img img {
    width: 91vw;
    right: -4px;
    top: 149px;
}
.second {
    margin-top: -34px;
}
.video video {
    width: 92vw;
    height: 251px;
}

.video{
    width: 92vw;
    height: 251px;
}
.sec1 {
    font-size: 26px;
    width: 346px;
}
 .secinfo {
    font-size: 26px;
    width: 346px;
    left: -42px;
}
.corosoul {
    margin-top: -118px;
}
.key {
    margin-left: 279px;
    font-size: 3.5rem;
} 
.slide img {
    width: 46%;
    top: -55px;
    left: 68px;
}
.title3{
    left: -88px;
}
.img1{
    left: -33vw;

}
.apptitle{
    font-size: 2rem;
}
.img2 {
    top: 333px;
    left: -328px;
}
.img3 {
    top: 605px;
    left: -107vw;
}
.img4 {
    top: 867px;
    left: -148vw;
}
.img5 {
    top: 774px;
    left: -38vw;
}
.img6 {
    top: 1014px;
    left: -304px;
}
.img7 {
    top: 1247px;
    left: -112vw;
}
.img8 {
    top: 1542px;
    left: -141vw;
}
.spec_test {
    margin-top: 1557px;
}
.additional {
    margin-left: 181px;
}
.spectitle{
    font-size: 2.5rem;
}
.spcefic li {
    font-size: 2rem;
    width: 400px;
}
.spectitle {
    left: 18px;
}
.feedbackinfo{
    left: 58vw;
    font-size: 2.5rem;
}
.customer{
    font-size: 2.5rem;
}
.info2 div {
    display: flex;
    flex-direction: column;
}
.test1 img {
    left: -54px;
}
.test1 p {
    left: -61px;
}
.test1 .experience {
    left: 87px;
    text-align: center;
    width: 360px;
    font-size: 18px;
}
.test2 .experience {
    left: 54px;
    top: 86px;
    text-align: center;
    width: 360px;
    font-size: 18px;
}
.test2 img {
    position: relative;
    left: -84px;
    top: -370px;
}

.test2 p {
    left: -88px;
    top: -383px;
}
.about {
    margin-top: -268px;
}
.abouttitle {
    font-size: 30px;
    left: -47vw;
}
.ainfo1 {
    font-size: 20px;
    width: 409px;
    text-align: center;
    left: -347px;
}
.aboutimg img {
    top: 323px;
    width: 305px;
    left: 8vw;
}
.ainfo2 {
    font-size: 20px;
    width: 409px;
    text-align: center;
    left: -350px;
    top: 304px;
}
.contactform form input {
    width: 353px;
    position: relative;
    left: -108px;
    height: 38px;
}
.contacttitle{
    left: 87px;
    font-size: 3rem;
}
.contactform form textarea {
    width: 353px;
    position: relative;
    left: -108px;
    height: 100px;
}
.contact {
    margin-top: 871px;
    left: 79px;
}
.btn{
    left: -95px;
}
.show {
    height: 807px;
    width: 99vw;
    left: 230px;
}
.keytitle{
    font-size: 30px;
}
.clicked_slide img {
    width: 96vw;
    position: relative;
    top: 50px;
    left: 25px;
}
.hidee{
    right: 3px;
}
.img5 .apptitle{
    z-index: 2;
}
.logoimg img {
    left: 72vw;
}

}
@media (max-width:400px) and (min-width:100px){
.appimg img{
left: 188px;
}
.feedbackinfo{
left: 69vw;
}
.customer {
left: -31vw;
position: relative;
}
.video video {
    width: 97vw;
    /* left: -16px; */
    height: 237px;
}
.video{
    width: 97vw;
    left: -16px;
    height: 237px;
}
.secinfo {
    left: -70px;
    top: -38px;
}
.key {
    margin-left: 247px;
}
.title3 {
    left: -110px;
}
.slide img {
    width: 39%;
    left: 78px;
}
.appimg img {
    left: 103px;
}
.img3 {
    left: -118vw;
}
.img4 {
    left: -165vw;
}
.img6{
    top: 1030px;
}
.img7 {
    top: 1267px;
    left: -129vw;
}
.img8 {
    top: 1580px;
    left: -163vw;
}
.specification {
    margin-top: 33px;
}
.spcefic li {
    font-size: 2rem;
    width: 292px;
}
.customer {
    left: 0vw;
}
.feedback{
    margin-top: 50px;
}
.test1 img {
    left: -81px;
}
.test1 p {
    left: -87px;
}
.test2 img {
    left: -118px;
}
.test2 p {
    left: -120px;
}
.test1 .experience {
    left: 61px;
}
.test2 .experience {
    left: 25px;
}
.abouttitle {
    left: -63vw;
}
.ainfo1 {
    font-size: 19px;
    width: 345px;
    text-align: center;
    left: -341px;
}
.aboutimg img {
    left: -4vw;
}
.ainfo2 {
    font-size: 19px;
    width: 337px;
    left: -335px;
}
.contact{
    left: 61px;
}
.aksha {
    left: -55px;
    font-size: 91px;
}
.adis {
    width: 416px;
    left: -75px;
}
.img4 .apptitle {
    left: -217px;
    top: -81px;
    font-size: 1.7rem;
}
.clicked_slide .keytitle {
    font-size: 35px;
}
}
.contactform form textarea{
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
}








@media (max-width:1400px) and (min-width:1350px){
    .pg1img img {
        right: -330px;
    }
    .navbtns {
        right: -17vw;
    }
  }
  @media (max-width:1350px) and (min-width:1200px){
    .pg1img img {
        right: -24vw;
    }
    .navbtns {
        right: -16vw;
    }
  }

  @media (max-width:2000px) and (min-width:1250px){
        .address{
            visibility: hidden;
            color: transparent;
        }
  }

  @media (max-width:1000px) and (min-width:0px){
    .contact{
        background-image: none;
        left: -30px;
    }
    .address{
        color: black;
        left: -72px;
        top: -32vw;
    }
    .addinfo {
        position: relative;
        left: 69vw;
        top: -147px;
        width: 270px;
        font-size: 25px;
        line-height: 35px;
    }    
    .addtitle{
        left: 69vw;
        top: -150px;
        font-size: 30px;
    }
}
@media (max-width:1000px) and (min-width:900px){
 .address{
   left: -27px;
    top: -41vw;
}
.navbtns {
    right: -95px;
}
.pg1img img {
    right: -17vw;
    top: -34px;
}
.text1{
    top: 39px;
    left: -236px;
}
.aksha {
    font-size: 110px;
    left: 117px;
}
.adis {
    font-size: 1.5em;
    width: 747px;
}
.second {
    margin-top: -180px;
    position: relative;
    left: -2vw;
}
.sec1 {
    margin-bottom: 20px;
    font-size: 18px;
}
.secinfo{
    font-size: 18px;
    position: relative;
    top: 26px;
    left: -21px;
}
.logot {
    left: 4vw;
}
.specification{
    margin-left:0vw;
    }
    .spectitle{
    font-size: 5.5rem;
    width: 1000px;
    }
    .spcefic{
    font-size: 3rem;
    }
    .spcefic li{
    font-size: 2.3rem;
    width: 1000px;
    }
    .customer{
    width: 1000px;
    font-size: 5.5rem;
    }
    .info2 div{
    width: 1000px;
    font-size: 26px;
    position: relative;
    left: -110px;
    }
    .test1 img{
    position: relative;
    left: -87px;
    }
    .test2{
    position: relative !important;
    left: -45px !important;
    }
    .corosoul{
        margin-top: -58px;
    }
    .keytitle{
        font-size :2rem;
    }
    .feedback {
        position: relative;
        top: 372px;
        left: -38vw;
    }
    .spectitle {
        font-size: 4.5rem;
    }
    .customer {
        width: 1000px;
        font-size: 4.5rem;
    }
    .test1 .experience {
        width: 814px;
        left: -86px;
        font-size: 20px;
    }
    .about {
        margin-top: 359px;
        margin-left: -10vw;
    }
    .test2 .experience{
        width: 814px;
        font-size: 20px;
        position: relative;
        left: -39px;
    }  
    .ainfo1{
        font-size: 16px;
        width: 65vw;
    }
    .ainfo2{
        font-size: 16px;
        width: 65vw;
    }
    .aboutt {
        margin-right: 13vw;
    }
    .address {
        left: -27px;
        top: -35vw;
    }
    .btn{
        left: -200px;
    }
    
}

@media (max-width:950px) and (min-width:900px){
    .test1 .experience {
        width: 814px;
        left: -148px;
        font-size: 20px;
    }
}
@media (max-width:4000px) and (min-width:1500px){
    .btn{
        left: -198px;
    }
}

@media (max-width:900px) and (min-width:800px){
    .secinfo {
        left: -2vw;
    }
    .corosoul{
        margin-top: -90px;
    }
    .contact {
        background-image: none;
        left: 17vw;
    }
    .address {
        color: black;
        left: -50vw;
        visibility: visible;
        top: -354px;
    }
    
}
@media (max-width:850px) and (min-width:800px){
    .secinfo{
        left: -6vw;
    }
    .contact {
        background-image: none;
        left: 11vw;
    }
    
}
@media (max-width:800px) and (min-width:100px){
    .spectitle {
        font-size: 3.5rem;
    }
    .customer {
        left: -24vw;
        font-size: 3.5rem;
    }
}
@media (max-width:800px) and (min-width:700px){
.contact {
    background-image: none;
    left: 11vw;
}
.address {
    color: black;
    left: -70vw;
    top: -40vw;
}
}
@media (max-width:700px) and (min-width:100px){
    .aksha{
        font-size: 76px;
    }
    .adis {
        font-size: 1.2em;
        width: 331px;
    }
    .second {
        margin-top: -170px;
    }
    .video video{
        height: 349px;
    }
    .video{
        height: 349px;
    }
    .secinfo {
        left: -6vw;
    }
    .slide img {
        position: relative;
        left: 19vw;
        width: 64%;
    }
    .keytitle{
        left: -14vw;
        position: relative;
    }
    .title3{
        left: 0vw
    }
    .appimg{
        left: -5vw;
    }
    .img1 {
        left: -19vw;
    }
    .img2 {
        left: -50vw;
    }
    .down3 {
        left: -40px;
    }
    .img4 {
        top: 990px;
        left: -112vw;
    }
    .logoimg img {
        left: 71vw;
    }
    
    }
    @media (max-width:750px) and (min-width:100px){
        .down4t{
            position: relative;
            left: -10vw;
        }
        .img4 .apptitle {
            left: -270px;
        }
    }
    @media (max-width:660px) and (min-width:600px){
        .slide img {
            position: relative;
            left: 13vw;
            width: 64%;
        }
    }
@media (max-width:700px) and (min-width:600px){
    .aksha{
        font-size: 76px;
    }
     .adis {
        text-align: center;
        font-size: 1.2em;
        width: 331px;
        left: 50px;
    }
    }


    @media (max-width:600px) and (min-width:100px){
        .apptitle {
            font-size: 2.5rem;
            position: relative;
            left: -10vw;
        }
        .img2 .apptitle {
            left: -39vw;
        }
        .img1{
            left: -31vw;
        }
        .img2 {
            left: -63vw;
        }
        .img3 {
            left: -83vw;
        }
        .img4 {
            left: -121vw;
        }
        .img4 .apptitle {
            left: -225px;
            font-size: 2rem;
            top: -66px;
        }
        
        .img5 {
            top: 915px;
            left: -29vw;
        }
        .img7 {
            left: -95vw;
        }
        .img8 {
            left: -120vw;
        }
        .spcefic li {
            font-size: 2rem;
        }        
        .feedbackinfo {
            left: 54vw;
        }

        
.feedbackinfo{
    left: 58vw;
    font-size: 2.5rem;
}
.customer{
    font-size: 2.5rem;
}
.info2 div {
    display: flex;
    flex-direction: column;
}
.test1 img {
    left: -54px;
}
.test1 p {
    left: -61px;
}
.test1 .experience {
    left: 87px;
    text-align: center;
    width: 360px;
    font-size: 18px;
}
.test2 .experience {
    left: 54px;
    top: 86px;
    text-align: center;
    width: 360px;
    font-size: 18px;
}
.test2 img {
    position: relative;
    left: -84px;
    top: -370px;
}

.test2 p {
    left: -88px;
    top: -383px;
}
.about {
    margin-top: -268px;
}
.abouttitle {
    font-size: 30px;
    left: -47vw;
}
.ainfo1 {
    font-size: 20px;
    width: 409px;
    text-align: center;
    left: -347px;
}
.aboutimg img {
    top: 323px;
    width: 305px;
    left: 8vw;
}
.ainfo2 {
    font-size: 20px;
    width: 409px;
    text-align: center;
    left: -350px;
    top: 304px;
}
.contactform form input {
    width: 353px;
    position: relative;
    left: -108px;
    height: 38px;
}
.contacttitle{
    left: 87px;
    font-size: 3rem;
}
.contactform form textarea {
    width: 353px;
    position: relative;
    left: -108px;
    height: 100px;
}
.contact {
    margin-top: 871px;
    left: 79px;
}
.btn{
    left: -95px;
}
.show {
    height: 807px;
    width: 99vw;
    left: 230px;
}
.keytitle{
    font-size: 30px;
}
.clicked_slide img {
    width: 96vw;
    position: relative;
    top: 50px;
    left: 25px;
}
.hidee{
    right: 3px;
}


.test2 img {
    position: relative;
    left: -84px;
    top: -277px;
}
.test2 p {
    top: -283px;
}
.about {
    margin-top: -199px;
}
.ainfo1 {
    left: -10vw;
}
.aboutimg img {
    top: 323px;
    width: 208px;
}
.abouttitle {
    font-size: 30px;
    left: -26vw;
}
.ainfo1 {
    left: -48vw;
}
.ainfo2 {
    left: -45vw;
    top: 212px;
}
.contact {
    margin-top: 784px;
    left: 25vw;
}
.address {
    color: black;
    left: -63vw;
    top: -58vw;
}
.adis {
    left: 7vw;
}
.second {
    margin-left: 17px;
}
.secinfo {
    left: -7vw;
    font-size: 1.5rem;
    width: 501px;
}

.sec1 {
    font-size: 1.5rem;
    width: 501px;
}
.key {
    margin-left: 54vw;
    font-size: 3.5rem;
}
.corosoul {
    margin-top: -309px;
}
.slide img {
    position: relative;
    left: 18vw;
    width: 51%;
}
.keytitle {
    left: -21vw;
}
.title3{
    left: -13vw;
}

    }

    @media (max-width:550px) and (min-width:100px){
        .ainfo1 {
            left: -56vw;
        }
        .ainfo2 {
            left: -54vw;
            }
            .secinfo {
                left: -14vw;
            }
            .slide img {
                position: relative;
                left: 12vw;
                width: 51%;
            }
            .keytitle {
                left: -30vw;
            }
            
            
        
    }

    @media (max-width:500px) and (min-width:100px){
    .aksha {
        left: 4vw;
        font-size: 61px;
    }
    .adis{
        left: 0vw;
    }
    .second {
        margin-top: -245px;
    }
    .vidoe{
        height: 272px;
    }
    .video video {
        height: 272px;
    }
    .secinfo{
        width: 356px;
        left: -4vw;
    }
    .sec1 {
        width: 356px;
    }
    .key {
        margin-left: 55vw;
        font-size: 2.5rem;
    }
    .corosoul {
        margin-top: -293px;
    }
    .slide img {
        position: relative;
        left: 19vw;
        width: 40%;
        top: 20px;
    }
    .keytitle {
        left: -38vw;
    }
    .img3 {
        top: 764px;
    }
    .img6 {
        top: 1210px;
        left: -289px;
    }
    .img7 {
        left: -99vw;
        top: 1472px;
    }
    .img8 {
        left: -128vw;
        top: 1785px;
    }
    .spec_test {
        margin-top: 1813px;
    }
    .spectitle {
        font-size: 2.5rem;
    }
    .about {
        margin-left: -14vw;
    }
    }
    @media (max-width:450px) and (min-width:100px){
        .secinfo {
            width: 356px;
            left: -11vw;
        }
        .slide img {
            position: relative;
            left: 10vw;
        }
        .keytitle {
            left: -55vw;
        }
        .img2 {
            left: -72vw;
        }
        .img2 .apptitle {
            left: -51vw;
        }
        .img3 {
            left: -91vw;
        }
        .img3 .apptitle {
            left: -67vw;
        }
        .img4 {
            left: -143vw;
            top: 915px;
        }
        .img5 {
            top: 915px;
            left: -37vw;
        }
        
        .img7 {
            left: -114vw;
            top: 1472px;
        }
        
        .img8 {
            left: -144vw;
            top: 1800px;
        }
        .about {
            margin-left: -26vw;
        }
        .ainfo2 {
            font-size: 20px;
            width: 309px;
            left: -45vw;
        }
        .ainfo1 {
            width: 309px;
            left: -45vw;
        }
        .aboutimg img {
            top: 339px;
            left: 17vw;

        }
        .contact {
            margin-top: 784px;
            left: 18vw;
        }
        .title3 {
            left: -18vw;
        }
        .logoimg img {
            left: 67vw;
        }
    }



    @media (max-width:400px) and (min-width:100px){
        .pg1img img {
            width: 97vw;
            right: -4px;
            top: 100px;
        }
        .aksha {
            left: 0vw;
            font-size: 51px;
        }
        .adis {
            left: -6vw;
        }
        .second {
            margin-left: 23px;
            margin-top: -317px;
        }
        .secinfo {
            width: 256px;
            left: -19vw;
        }
        .sec1 {
            width: 256px;
        }
        .secinfo {
            width: 256px;
            left: -7vw;
        }
        .corosoul {
            margin-top: -228px;
            left: -31vw;
        }
        .keytitle {
            left: -67vw;
            font-size: 22px;
        }
        .slide img {
            position: relative;
            left: 6vw;
        }
        .additional {
            margin-left: 139px;
        }
        .appimg img {
            width: 200px;
        }
        .apptitle{
            font-size: 18px;
        }
        .appimg img {
            left: 136px;
        }
        .img1 .apptitle {
            left: -229px;
        }
        .img2 .apptitle {
            left: -56vw;
        }
        .img3 {
            left: -97vw;
        }
        .img4 .apptitle {
            font-size: 16px;
        }
        .img4 {
            left: -152vw;
        }
        .img6 {
            top: 1167px;
            left: -259px;
        }
        .img6 .apptitle {
            top: 7px;
        }
        .img8 {
            left: -153vw;
            top: 1800px;
        }
        .customer {
            left: 11vw;
            font-size: 2.5rem;
        }
        .test1 .experience {
            left: 131px;
            width: 280px;
        }
        .test2 .experience {
            left: 131px;
            width: 280px;
        }
        .test2 img {
            top: -365px;
        }
        .test2 p {
            top: -368px;
        }
        .test2 .experience {
            left: 105px;
        }
        .about {
            margin-left: -36vw;
        }
        .aboutimg img {
            left: 24vw;
        }
        .contact {
            margin-top: 784px;
            left: 14vw;
        }
        .contactform form input {
            width: 326px;
        }
        .contactform form textarea {
            width: 326px;
        }
        .addtitle {
            left: 69vw;
            top: -228px;
        }
        .addinfo {
            position: relative;
            left: 69vw;
            top: -207px;
        }
    }

    /* @media (max-width : 780) and (min-width:100px) {
        .fotter{
            font-size: 12px;
       }
    }
    @media (max-width : 600) and (min-width:100px) {
        .fotter{
            font-size: 8px;
       }
    } */

    @media (max-width:1300px) and (min-width:1200px){
        .hidee{
            right: 138px;
        }
    }
    @media (max-width:1100px) and (min-width:1100px){
        .hidee{
            right: 125px;
        }
    }
    @media (max-width:1100px) and (min-width:1000px){
        .hidee{
            right: 115px;
        }
        .appimg .img77 {
            position: relative;
            left: 46px;
        }
        
        
        .test2 .experience {
            position: relative;
            left: -40px;
            font-size: 15px;
            margin-top: 30px;
            text-align: justify;
        }
        .nameimg img {
            width: 96px;
            margin-top: 37px;
        }
        .test1 .experience {
            text-align: justify;
        }
        .test1 img{
            margin-top: 10px;
        }
        .test2 img{
            margin-top: 50px;
        }
    }
    @media (max-width:1000px) and (min-width:900px){
        .hidee{
            right: 100px;
        }
        .appimg .img77 {
            position: relative;
            left: 46px;
        }
    }
    @media (max-width:900px) and (min-width:800px){
        .hidee{
            right: 38px;
            top: 96px;
        }
    }
   
    @media (max-width:900px) and (min-width:00px){
    .appimg .img77 {
        height: 237px;
        width: 194px;
        position: relative;
        left: 134px;
    }
}


    @media (max-width:800px) and (min-width:700px){
        .hidee{
            right: 25px;
            top: 96px;
        }
    }
    @media (max-width:700px) and (min-width:600px){
        .hidee{
            right: 20px;
            top: 96px;
                width: 40px;
                height: 40px;
        }
        .keytitle{
            left: -6vw;
        }
    }
    @media (max-width:600px) and (min-width:500px){
        .hidee{
            right: 11px;
            top: 96px;
            background-size: 40px;
                width: 40px;
                height: 40px;
        }
        .clicked_slide img {
            left: -15px;
        }
        #showtitle{
            left: -4vw;
        }
    }
    @media (max-width:500px) and (min-width:400px){
        .hidee{
            right: 7px;
            top: 96px;
            background-size: 40px;
                width: 40px;
                height: 40px;
        }
        .clicked_slide img {
            left: -15px;
        }
        #showtitle{
            left: -3vw;
        }

    }
    @media (max-width:400px) and (min-width:300px){
        .hidee {
            right: 4px;
            top: 96px;
            background-size: 40px;
                width: 40px;
                height: 40px;
        }
        .clicked_slide img {
            left: -10px;
        }
        #showtitle{
            left: -3vw;
        }
    }

    @media (max-width:800px) and (min-width:100px){
            .secinfo{
                margin-top: -58px;
            }
    }

    @media (max-width:1250px) and (min-width:1100px){
        #contactmsg{
            left: 142px;
            top: -40px;
        }
    }

@media (max-width:600px) and (min-width:500px) {
    #contactmsg{
        position: relative;
        left: -15vw;
    }
}
@media (max-width:500px) and (min-width:100px) {
#contactmsg{
    width: 300px;
    font-size: 17px;
    position: relative;
    left: -3vw;
}
}
    
    
@media (max-width:1200px) and (min-width:900px) {
.spcefic li {
    width: 372px;
}
}

@media (max-width:40000px) and (min-width:1500px){
    .appimg .img77 {
        position: relative;
        left: 50px;
    }
}

@media (max-width:700px) and (min-width:100px){
.adis {
    width: 291px;
    left: 68px;
    text-align: justify;
}
}
@media (max-width:500px) and (min-width:100px){
.adis{
    left: 18px;
}
}

@media (max-width:500px) and (min-width:100px){
.adis{
    left: -1px;
}
}